@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.app {
  padding: 3rem 10rem;
  width: 100vw;
  height: 100vh;
  color: white;
  background: rgb(250,216,212);
background: linear-gradient(90deg, rgba(250,216,212,1) 0%, rgba(255,178,193,1) 57%, rgba(250,216,212,1) 80%);
  text-align: center;

  img {
    width: 8rem;
    animation: rotate 5s linear infinite;
  }

  h1 {
    margin: 0;
  }
  h2{
    margin: 0;
    color: rgb(63, 59, 59)
  }
}